body {
    background: url("/img/stars.jpg") repeat scroll 0 -93px #00031A;
	color: #ffffff;
	overflow: hidden;
	font-family: monospace;
	font-size:20pt;
	text-align: center;
	margin:0px;
}

a {
	text-decoration: none;
	color: #ffffff;
}

#sun {
	width:1px;
	height:1px;
	position: relative;
}
#sun img { position: absolute; }

#kosmos {
	height: 600px;
}

.planet {
	position: absolute;
	text-align: center;
}

.planet img {
	height: 75px;
	position: relative;
	left: 0px;
	top: 0px;
	border-radius: 100px;
	box-shadow: #22b0bf 1px 1px 24px;
}

.planet h3 {
	text-align: left;
	width: 120px;
	left: 0;
	position: absolute;
}

#log {
	position: absolute;
	left: 130px;
	top: 0px;
	width: 100px;
	height: 50px;
}

canvas {
	left: 0px;
	top: 0px;
	position: absolute;
}

#infowindow {
	text-align: center;
	border-radius: 5px;
	position: absolute;
	padding: 10px 10px 15px 10px;
	width: 180px;
	background-color: gray;
	font-size: 50%;
}

#infopreview {
	border-radius: 50%;
	width: 50px;
}

.stars {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	animation: rotate 600s infinite linear;
}

.star {
	background-color: white;
	border-radius: 50%;
	position: absolute;
	animation-name: estrela;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.star.style1 { animation-duration: 0.5s; animation-name: estrela; }
.star.style2 { animation-duration: 1s; animation-name: estrela; }
.star.style3 { animation-duration: 1.5s; animation-name: estrela; }
.star.style4 { animation-duration: 2s; animation-name: estrelaDestacada; }

.star.tam1 { width: 1px; height: 1px; }
.star.tam2 { width: 2px; height: 2px; }
.star.tam3 { width: 3px; height: 3px; }

.star.opacity1 { opacity: 1; }
.star.opacity2 { opacity: .5; }
.star.opacity3 { opacity: .1; }

@media (max-width: 992px) {
	.name {
		display: none;
	}
}

@keyframes shake {
	100% {
		transform: translateX(-80px);
	}
}

@keyframes estrela {
	0%   { box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05); }
	50%  { box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4); }
	100% { box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05); }
}

@keyframes estrelaDestacada {
	0% {
		background-color: #FFFFFF;
		box-shadow: 0 0 10px 0px rgba(255, 255, 255, 1);
	}
	20% {
		background-color: #FFC4C4;
		box-shadow: 0 0 10px 0px rgba(255, 196, 196, 1);
	}
	80% {
		background-color: #C4CFFF;
		box-shadow: 0 0 10px 0px rgba(196, 207, 255, 1);
	}
	100% {
		background-color: #FFFFFF;
		box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.2);
	}
}

@media (prefers-reduced-motion: reduce) {
	.stars { animation: none; }
	.star  { animation: none; }
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}
